
{{# if errors_main }}
    {{# each errors_main }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ this }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}
{{/if}}
{{# if success_main }}
    {{# each success_main }}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ this }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}
{{/if}}