<div class="bg-white border-bottom shadow-sm mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{# if user }}
                    {{# if isAdmin }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/category">List</a>
                                <a class="dropdown-item" href="/category/create">Create category</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/products">List</a>
                                <a class="dropdown-item" href="/products/create">Create product</a>
                            </div>
                        </li>

                    {{else}}

                        <li class="nav-item">
                            <a class="nav-link" href="/users/account">Account</a>
                        </li>

                    {{/if}}

                    <li class="nav-item">
                        <a class="nav-link" href="/users/security">Security</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>

                {{else}}
                    <li class="nav-item float-right">
                        <a class="nav-link " href="/users/login" tabindex="-1" >Login</a>
                    </li>
                    <li class="nav-item float-right">
                        <a class="nav-link " href="/users/register" tabindex="-1" >Registration</a>
                    </li>
                {{/if}}
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>