{{# if errors }}
    {{# each errors }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ this.msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}
{{/if}}
<div class="card">
    <div class="card-header">
        <h3><span class="badge badge-secondary">{{title}}: {{categoryTitle}} </span></h3>
    </div>
    <div class="card-body">
        <form action="{{formAction}}" method="post">

            <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" class="form-control" name="title" value="{{category.title}}" placeholder="Enter title">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Slug</label>
                <input type="text" class="form-control" name="slug" value="{{category.slug}}" placeholder="Enter slug">
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>