{{# if categories }}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Slug</th>
            <th scope="col">Url</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            {{# each categories }}
                <tr>
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.title}}</td>
                    <td>{{this.slug}}</td>
                    <td>{{this.url}}</td>
                    <td>
                        <form method="POST" action="/category/id/{{id}}?_method=DELETE">
                            <a class="btn" href="/category/edit/id/{{this.id}}">Edit</a>
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Del</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="6">
                    {{{paginate pagination}}}
                </td>
            </tr>
        </tbody>
    </table>
{{/if}}