{{# if errors }}
    {{# each errors }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ this.msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}
{{/if}}
<div class="card">
    <div class="card-header">
        <h3><span class="badge badge-secondary">{{title}}: {{productTitle}} </span></h3>
    </div>
    <div class="card-body">
        <form action="{{formAction}}" method="post">

            <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" class="form-control" name="title" value="{{product.title}}" placeholder="Enter title">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Price ($)</label>
                <input type="number" class="form-control" name="price" value="{{product.price}}" min="1" placeholder="Enter price">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Category</label>
                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect02" name="category">
                        {{{categoryList categories categoryId}}}
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">(select category)</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea class="form-control" rows="10" placeholder="Description..." name="description">{{product.description}}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>