<div class="card text-center">
    <div class="card-header">
        {{{categoryListMenu categories category}}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card-columns col-12">
                {{# each products }}
                        <div class="card col-md" style="width: 18rem;">
                            <a href="{{this.url}}">
                                <img src="{{this.image}}" class="card-img-top" alt="Some alt text">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{this.url}}">{{this.title}}</a>
                                </h5>
                                <p class="card-text">
                                    <h3><a href="{{this.url}}" class="badge badge-info">$ {{this.price}}</a></h3>
                                </p>
                            </div>
                        </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>