{{# if category }}
    <div class="card-group">
    {{# each category }}
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
            </div>
        </div>
    {{/each}}
    </div>
{{/if}}