<div class="card text-center">
    <div class="card-header">
        {{{categoryListMenu categories category}}}
    </div>
    <div class="card-body">
            {{# if breadcrumbs }}
                <nav aria-label="breadcrumb col-12">
                    <ol class="breadcrumb col-12">
                        {{# each breadcrumbs}}
                            <li class="breadcrumb-item"><a href="{{this.url}}">{{this.name}}</a></li>
                        {{/each}}
                    </ol>
                </nav>
            {{/if}}
        <div class="row">
            <div class="card-columns col-12">
                {{# each products }}
                    <div class="card col-md" style="width: 18rem;">
                        <a href="{{this.url}}">
                            <img src="{{this.image}}" class="card-img-top" alt="Some alt text">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{this.url}}">{{this.title}}</a>
                            </h5>
                            <p class="card-text">
                                <h3><a href="{{this.url}}" class="badge badge-info">$ {{this.price}}</a></h3>
                            </p>
                        </div>
                    </div>
                {{/each}}

                {{{paginate pagination}}}
            </div>
        </div>
    </div>
</div>