<form>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.email}}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Username:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticRegistered" value="{{user.username}}">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Registered:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticRegistered" value="{{user.date}}">
        </div>
    </div>
</form>