{{# if errors }}
    {{# each errors }}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ this.msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}
{{/if}}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h2>Registration user</h2>
        <form action="{{action}}" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" name="name" class="form-control" placeholder="Enter name" value="{{name}}" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" placeholder="Enter email" value="{{email}}" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" value="{{password}}" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Сonfirm password</label>
                <input type="password" name="password2" class="form-control" placeholder="Password confirm" value="{{password2}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>