<!-- some info about product --->
{{# if breadcrumbs }}
    <nav aria-label="breadcrumb col-12">
        <ol class="breadcrumb col-12">
            {{# each breadcrumbs}}
                <li class="breadcrumb-item"><a href="{{this.url}}">{{this.name}}</a></li>
            {{/each}}
        </ol>
    </nav>
{{/if}}
<div class="row">
    <div class="col-md-9">

        <p class="float-right" style="font-size: 36px;"> ${{product.price}} </p>

        <h1 style="margin-bottom: 10px">
            {{# if isAdmin }}
                <span class="badge badge-secondary">
                    <a href="/products/edit/id/{{product.id}}">Edit</a>
                </span>
            {{/if}}

            {{product.title}}
        </h1>

        <div style="margin-bottom: 20px">
            <div class="row">
                <div class="col-10">
                    <div style="height: 400px; background: #f6f6f6; border: 1px solid #ddd">
                        <img src="{{product.image}}" width="100%" height="100%">
                    </div>
                </div>
                <div class="col-2">
                    <div style="height: 100px; background: #f6f6f6; border: 1px solid #ddd"></div>
                    <div style="height: 100px; background: #f6f6f6; border: 1px solid #ddd"></div>
                    <div style="height: 100px; background: #f6f6f6; border: 1px solid #ddd"></div>
                    <div style="height: 100px; background: #f6f6f6; border: 1px solid #ddd"></div>
                </div>
            </div>
        </div>

        <p>{{product.description}}</p>

        <hr/>

        <div class="h3">Similar products</div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/297933/pexels-photo-297933.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt=""/>
                    <div class="card-body">
                        <div class="card-title h4 mt-0" style="margin: 10px 0"><a href="#">The First Thing</a></div>
                        <p class="card-text" style="color: #666">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/297933/pexels-photo-297933.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt=""/>
                    <div class="card-body">
                        <div class="card-title h4 mt-0" style="margin: 10px 0"><a href="#">The First Thing</a></div>
                        <p class="card-text" style="color: #666">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://images.pexels.com/photos/297933/pexels-photo-297933.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt=""/>
                    <div class="card-body">
                        <div class="card-title h4 mt-0" style="margin: 10px 0"><a href="#">The First Thing</a></div>
                        <p class="card-text" style="color: #666">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div style="height: 400px; background: #f6f6f6; border: 1px solid #ddd; margin-bottom: 20px"></div>
        <div style="height: 400px; background: #f6f6f6; border: 1px solid #ddd; margin-bottom: 20px"></div>
    </div>
</div>